@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
    background-color: #FF69B4;
    list-style: none;
}

.HeaderOut {
    display: flex;
    justify-content: space-around;
    align-items: center;


    figure {
        display: flex;
        width: 40%;
        justify-content: space-evenly;
        align-items: center;

        img {
            width: 8vw;
        }

        h1 {
            text-transform: uppercase;
            font-size: 1rem;
            color: white;
        }
    }

    nav {
        width: 60%;

        ul {
            display: flex;
            justify-content: space-evenly;
            text-transform: uppercase;
            color: white;
        }
    }
}

.MainOut {
    section {
        height: 23vh;
        display: flex;
        justify-content: space-evenly;
    }

    p {
        width: 35%;
        font-size: 1.2rem;
        text-align: justify;
        padding: 1rem;
    }

    .ChngColor {
        color: white;
    }

    .BgLight {
        background-color: #FFD9EC;
    }

    .Fig01 {
        display: flex;
        align-items: center;
        background-color: #FFD9EC;

        img {
            background-color: #FFD9EC;
            width: 13vw;
        }
    }

    .Fig02 {
        display: flex;
        align-items: center;

        img {
            width: 20vw;
        }
    }

    .Fig03 {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #FFD9EC;

        img {
            background-color: #FFD9EC;
            width: 10vw;
        }
    }
}

.FooterOut {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;

    figure {
        display: flex;
        justify-content: space-evenly;
        width: 20%;

        img {
            width: 50px;
        }
    }

    div {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    ;

    .FigEnd {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}