@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
    background-color: #FF69B4;
    list-style: none;
}

.HeaderOut{
    display: flex;
    justify-content: space-around;
    align-items: center;
    

    figure{
        display: flex;
        width: 40%;
        justify-content: space-evenly;
        align-items: center;
        img{
            width: 10vw;
        }
        h1{
            text-transform: uppercase;
            font-size: 1rem;
            color: white;
        }
    }
    nav{
        width: 60%;
        ul{
            display: flex;
            justify-content: space-evenly;
            text-transform: uppercase;
            color: white;
        }
    }
}

.MainOut{
    border: solid white;
    section{
        height: 25vh;
        border: solid yellowgreen;
        display: flex;
        justify-content: space-between;
    }
    .Fig01{
        display: flex;
        align-items: center;
        
        img{
            width: 25vw;
        }
    } 
    .Fig02{
        display: flex;
        align-items: center;

        img{
            width: 40vh;
        }
    } 
    .Fig03{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
        img{
            width: 20vh;
        }
    }
}